<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vue Basics</title>
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="styles.css" />
  <script src="https://unpkg.com/vue@next" defer></script>
  <script src="app.js" defer></script>
</head>

<body>
  <header>
    <h1>Vue Events</h1>
  </header>
  <section id="events">
    <h2 class="">Vue Events in Action</h2>
    <button @click="add(10)">Add 10</button>
    <button @click="reduce(5)">Remove 5</button>
    <p v-once>Starting Counter: {{ counter }}</p>
    <p>Result: {{ counter }}</p>
    <!-- Long way to get value user entered and set the value of the input so you can apply some logic to it (eg rest the input as in this scenario) using v-bind & v-on.
    Done by listening to the input using v-on then sending a stored value back into the input using b-bind.
    This is a very common pattern so there is a shorthand special Vue directive to achieve the same output - v-model.
    -->

    <!-- <input type="text" v-bind:value="name" v-on:input="setName($event, 'Wright')" v-on:keyup.enter="confirmInput"> -->

    <!-- Short way using v-model directive which takes the data property you want it to manage for you. 
    **** v-model is a shortcut for v-bind-value & v-on:input (see above) **** 
    Concept called 2 way binding - listening to an event coming out of the input element and writing the value back to the input element throught its value attribute (communicating in both directions)
    -->

    <input type="text" v-model="name">
    <input type="text" v-model="lastName">

    <button @click="resetInput">Reset Input</button>
    <p>Your Name: {{ fullname }}</p>
    <form @submit.prevent="submitForm">
      <input type="text">
      <button>Sign Up</button>
    </form>
  </section>
</body>

</html>